.App {
    text-align: center;
    width: 500px;
    align-items: center;
    margin-left: 35%;
  }
  .Card{
  width: 500px;
  align-items: center;
  margin-left: 30%;
  float: left;
  }
  .button{
    align-items: center;
    margin-top: 70px;
    margin-left: 48%;
  }
  img{
    margin-left: 25%;
    border-radius: 20px;
    margin-top: 20px;
  
  }